@font-face {
  font-family: "Onest";
  src: url("./OnestRegular1602-hint.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("./OnestMedium1602-hint.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("./OnestExtraBold1602-hint.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
/*
@font-face {
  font-family: "NeueMachina";
  src: url("./NeueMachina-Medium.woff2") format("woff2"),
    url("./NeueMachina-Medium.woff") format("woff");
  font-weight: 500;
  font-display: "swap";
}

@font-face {
  font-family: "KharkivTone";
  src: url("./KharkivTone.ttf") format("truetype");
  font-weight: normal;
  font-display: "swap";
} */
